
    <section class="admin-control">
        <ul>
            <li><a href="/new">Add new <i class="bi bi-plus-square-fill"></i></a></li>
            <li><a href="/manage-user">Manage Users <i class="bi bi-people-fill"></i></a></li>
            <li><a href="">Waiting Orders <i class="bi bi-bag"></i></a></li>
        </ul>
    </section>
